body {
    font-family: Arial, sans-serif;
    background : linear-gradient(to right, #247ba0 , #70c1b3 , #b2dbbf , #f3ffbd , #ff1654);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #bfd200;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#imagePreview {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#imagePreview img {
    max-width: 100px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

#downloadPDF {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#downloadPDF:hover {
    background-color: #e63946;
}
